.link {
  text-decoration: none;
  cursor: pointer;
}

/* 폰트 */
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  }

.background {
height: 100vh;
width: 100vw;
background-image:
url(https://www.kbl.or.kr/imgs/kbl-greeting-img01.jpg);
/* NBA 골든스테이트 이미지에서 KBL 구장 사진으로 변경 */
background-position: center;
background-size: cover;
background-attachment: fixed;
}

.intro__dark {
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.67);
}

.intro {
  margin-top: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather Sans', sans-serif; /* 폰트 통일 */
  font-size: 5.0em;
  font-weight: bold;
  color: white;
  /* text-shadow: 0px 2px 0px #a09e9e; */
}

@keyframes logo-hover {
  from { transform: translateY(0); }
  to { transform: translateY(10px); }
}

.logos {
  width: 53%;
  animation-name: logo-hover;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.message{background-color: white;
  z-index: 1;
  border-radius: 25px;
  border : 2px solid white; 
  width : 250px;
  height : 73px;
  position : absolute;
  margin-left: 18%;
  margin-top: 2.7%;
    
  font-family: 'LINESeedKR-Bd', sans-serif ;
  text-align: center;
  font-size: 35px;
  color : white;

  letter-spacing: 3.5px;
}

.parade {background-color : white;
  z-index: 1;
  border-radius: 25px;
  border : 2px solid white; 
  width : 190px;
  height : 73px;
  position : absolute;
  margin-left: 69%;
  margin-top: 2.7%;
  
  font-family: 'LINESeedKR-Bd', sans-serif ;
  text-align: center;
  font-size: 35px;
  color : white;

  letter-spacing: 3.5px;
}
