.link {
  text-decoration: none;
  cursor: pointer;
}

/* 폰트 */
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  }

.intro__dark {
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.67);
}

.background {
  height: 100vh;
  width: 100vw;
  background-image:
  url(https://s3.us-west-2.amazonaws.com/secure.notion-static.com/10a7ff55-ca27-4f33-be5f-418667c5ef04/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230126%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230126T220246Z&X-Amz-Expires=86400&X-Amz-Signature=dddd9e0f4c9ddb8e204e27d01ef246123f2b3c68635242bdf3b3a8eea59d2b53&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%22Untitled.png%22&x-id=GetObject);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }

.intro {
  margin-top: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif; /* 폰트 통일 */
  font-size: 7.0em;
  font-weight: bold;
  color: white;
  /* text-shadow: 0px 2px 0px #a09e9e; */
}

@keyframes logo-hover {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.logos {
  width: 53%;
  animation-name: logo-hover;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.message { background-color: white;
  border : none; /* 없애는 건 none*/
  color : black;
  padding: 15px 32px; /* 위 15 오른쪽 32 */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  font-family: 'LINESeedKR-Bd', sans-serif;
  font-size : 20px;
}

.parade { background-color: white;
  border : none; /* 없애는 건 none*/
  color : black;
  padding: 15px 32px; /* 위 15 오른쪽 32 */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;

  font-family: 'LINESeedKR-Bd', sans-serif;
  font-size : 20px;
}