.background_img{
  height: 100vh;
  width: 100vw;
}

.intro__dark {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.47);
}

.map_txt {
  margin-top: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif; /* 폰트 통일 */
  font-size: 7.0em;
  font-weight: bold;
  color: white;
}

.clubs{ 
  /* background-color: magenta; */
  position: relative;
  top: 50%;
  border : none;
  color : white;
  
  padding : 15px 32px;
  text-align : center;
  display : inline-block;

  font-size: 25px;
  font-family: 'LINESeedKR-Bd', sans-serif ;

  margin : 4px 2px;
}

.club_sk{
  background-color: rgba(255, 0, 0, 0.676);
  border-radius: 10%;
  padding : 15px 33px;
}
.club_kgc{
  background-color: rgba(139, 0, 0, 0.676);
  border-radius: 10%;

}
.club_kogas{
  background-color: rgba(0, 0, 128, 0.676);
  border-radius: 10%;

}
.club_db{
  background-color: rgba(0, 100, 0, 0.676);
  border-radius: 10%;

}
.club_kt{
  background-color: rgba(0, 0, 0, 0.676);
  border-radius: 10%;

}
.club_carrot{
  background-color: rgba(255, 140, 0, 0.676);
  border-radius: 10%;
  padding : 15px 29px;
}
.club_kcc{
  background-color: rgba(0, 0, 139, 0.676);
  border-radius: 10%;

  padding : 15px 32px;
}
.club_mobis{
  background-color: #ff3333ac;
  border-radius: 10%;

  padding : 15px 39px;
}
.club_lg{
  background-color: #cc0000ac;
  border-radius: 10%;
  padding : 15px 33px;
}
.club_samsung{
  background-color: #FFDE88ac;
  border-radius: 10%;
  padding : 15px 30px;
}

.kkultip{
width: 100vw;
height: 100vh;
}