.inner{
  text-align: center;
  margin-top : 2%;
}

.intro__bright {
  position: absolute;
  height: 140vh;
  width: 100vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.67);
}

.background {
  height: 140vh;
  width: 100vw;
  background-image:
  url(https://s3.us-west-2.amazonaws.com/secure.notion-static.com/10a7ff55-ca27-4f33-be5f-418667c5ef04/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20230126%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230126T220246Z&X-Amz-Expires=86400&X-Amz-Signature=dddd9e0f4c9ddb8e204e27d01ef246123f2b3c68635242bdf3b3a8eea59d2b53&X-Amz-SignedHeaders=host&response-content-disposition=filename%3D%22Untitled.png%22&x-id=GetObject);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  }

.button01 { background-color: yellow;
  border : 2px solid #e7e7e7; /* 없애는 건 none*/
  color : black;
  padding: 15px 32px; /* 위 15 오른쪽 32 */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  font-family: 'LINESeedKR-Bd', sans-serif;
  font-size : 20px;
}

/*제목  - 팀 & 선수 선택*/
.text__box{
  border : none;
  color : black;
  
  padding : 15px 33px;
  text-align : center;
  display : inline-block;

  font-size: 4.2em;
  font-family: 'LINESeedKR-Bd', sans-serif ;
  margin : 4px 2px;
}

.text__box02{ 
  margin-top : 70px;
}

/*팀 선택*/
.teams{ background-color: magenta;
  border : none;
  color : white;
  
  padding : 15px 32px;
  text-align : center;
  display : inline-block;

  font-size: 16px;
  font-family: 'LINESeedKR-Bd', sans-serif ;

  margin : 4px 2px;
}

.team_sk{
  background-color: red;
  padding : 15px 33px;
}
.team_kgc{
  background-color: darkred;
}
.team_kogas{
  background-color: navy;
}
.team_db{
  background-color: darkgreen;
}
.team_kt{
  background-color: black;
}
.team_carrot{
  background-color: darkorange;
  padding : 15px 29px;
}
.team_kcc{
  background-color: darkblue;
  padding : 15px 32px;
}
.team_mobis{
  background-color: #ff3333;
  padding : 15px 39px;
}
.team_lg{
  background-color: #cc0000;
  padding : 15px 33px;
}
.team_samsung{
  background-color: blue;
  padding : 15px 30px;
}


/*선수 선택*/
.players{ background-color: white;
  border : 2px solid black;
  color : black;
  
  padding : 15px 32px;
  text-align : center;
  display : inline-block;

  font-size: 16px;
  font-family: 'LINESeedKR-Bd', sans-serif ;
  margin : 4px 2px;
}

.junhyeong{
  padding : 15px 35px;
}
.daeheon{
  padding : 15px 35px;
}

/*닉네임*/
.yourname{
  border : none;
  color : black;
  
  padding : 15px 33px;
  text-align : center;
  display : inline-block;

  font-size: 4.2em;
  font-family: 'LINESeedKR-Bd', sans-serif ;
  margin : 4px 2px;

/*왼쪽으로 조금 더 정렬하려고*/
  margin-left : -35px;
}

/*메시지*/
.bbabbi{
  margin-top: 70px;
}
.yourmessage{
  border : none;
  color : black;
  
  padding : 15px 32px;
  text-align : center;
  display : inline-block;

  font-size: 32px;
  font-family: 'LINESeedKR-Bd', sans-serif ;
  margin : 4px 2px;
}
/*닉네임 입력창 & 메시지 입력창 폰트 지정 및 정렬*/
.yourdeco{
  text-align: center;
  font-family: 'LINESeedKR-Bd', sans-serif ;
}

/*제출버튼 위의 공백을 위한*/
.bbabbi_plus{
  margin-top: 35px;
}